.footer{
  background-image: url('../../assets/images/Rectangle1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 85px 0;
  // position: absolute;
  bottom: 0;
}
.footer__df{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__left{
    p{
      margin: 24px 0;
      color:rgba(173, 173, 173, 1);
    }
    a{
      text-decoration: underline;
      font-size: 14px;
    }
  }
  .footer__right{
    display: flex;
    justify-content: space-between;
    li{
      margin-top: 15px;
      color: #fff;
    }

    b{
      font-weight: 800;
      font-size: 18px;
      line-height: 96.4%;
      color: white;
    }

    .catalog__list_f{
      margin: 0 140px;
    }
    .social_m{
      display: flex;
      img{
        margin-top: 15px;
        margin-right: 18px;
      }
    }
  }
}